h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: crimson;
    padding-top: 50px;
    font-size: 45px;
    font-weight: bold;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
.container{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    padding-top: 150px;
    padding-left: 0;
    transform: translate(-0%, 30%);
}
button{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    font-weight: bold;
    color: crimson;
    font-size: 30px;
    border-radius: 15px;
    padding: 15px 20px 20px 15px;
    
}
button:hover{
    background-color:rgb(255, 207, 217);
}

.button{
    transform: translate(42%, 200%);
}